<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h1>Pipes Practice</h1>
      <h2>Tasks</h2>
      <ol>
        <li>Implement pipe to reverse a string e.g the instance type &#9989;</li>
        <li>Implement pipe to sort the list by the name of the instance &#9989;</li>
      </ol>
      <input type="text" [(ngModel)]="filteredStatus">
      <br><br>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <h2>App Status: {{ appStatus | async}}</h2>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredStatus:'status' | sort:'asc':'name'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:15 }}</strong> |
          {{ server.instanceType | reverse | uppercase  }} |
          {{ server.started | date:'fullDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
